@model TravelGuide.Entiteis.Models.Hotel

@{
    ViewData["Title"] = "DeleteHotel";
    Layout = "_templateLayout";

}
<div class="row">
    <div class="col-12">
        <h2 class="contact-title text-center m-5 text-italic">Delete Hotel</h2>
    </div>
    <div class="col-lg-8 m-auto">
        <form class="form-contact contact_form" asp-action="Delete" enctype="multipart/form-data" id="contactForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="hidden" asp-for="HotelId" />
                    <div class="form-group">
                        <input class="form-control" asp-for="HotelName" name="HotelName" id="HotelName" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the HotelName'" placeholder='Enter the HotelName'>
                        <span asp-validation-for="HotelName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="City" name="City" id="City" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the City'" placeholder='Enter the City'>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="Address" name="Address" id="Address" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Address'" placeholder='Enter the Address'>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="PhoneNumber" name="PhoneNumber" id="PhoneNumber" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the PhoneNumber'" placeholder='Enter the PhoneNumber'>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="Email" name="Email" id="Email" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Email'" placeholder='Enter the Email'>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" asp-for="Rating" name="Rating" id="Rating" type="text" disabled onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the Rating'" placeholder='Enter the Rating'>
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                </div>
                
      
            </div>
            <div class="m-auto">
                <div class="form-group mb-3 text-right">
                    <button type="submit" value="Delete" style="display: inline-block; padding: 10px 15px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 5px; ">Delete</button>
                    <button type="button" onclick="window.location.href='@Url.Action("Index", "Hotels")'" style="display: inline-block; padding: 10px 15px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 5px; ">Cancel</button>
                </div>

    
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}







