@model TravelGuide.Entiteis.Models.Hotel

@{
    ViewData["Title"] = "NewHotel";
    Layout = "_templateLayout";

}

<div class="row">
    <div class="col-12">
        <h2 class="contact-title text-center m-5 text-italic">Add Hotel</h2>
    </div>
    <div class="col-lg-8 m-auto">
        <form class="form-contact contact_form" asp-action="Create" enctype="multipart/form-data" id="contactForm">
            <div class="row">
                <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="HotelName" class="control-label"></label>
                                    <input asp-for="HotelName" class="form-control" />
                                    <span asp-validation-for="HotelName" class="text-danger"></span>
                                </div>
                </div>
                <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="City" class="control-label"></label>
                                    <input asp-for="City" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                </div>
                <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                </div>
                <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                </div>
                <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                </div>
                            <div class="form-group">
                                <label asp-for="Rating" class="control-label"></label>
                                <input asp-for="Rating" class="form-control" />
                                <span asp-validation-for="Rating" class="text-danger"></span>
                            </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="@Model.ImageFile" class="form-control" onchange="loadFile(event)" />
                </div>
            </div>

            <div class="form-group mb-3 text-right">
                <button type="submit" value="Create" style="display: inline-block; padding: 10px 15px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 5px; ">Add</button>
                <button type="button" onclick="window.location.href='@Url.Action("Index", "Hotels")'" style="display: inline-block; padding: 10px 15px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 5px; ">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        debugger
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src)
            }
        };
    </script>
}
