@model IEnumerable<TravelGuide.Entiteis.Models.Flight>

    <!--top place start-->
<section class="top_place section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section_tittle text-center">
                    <h2>Top Flights</h2>
                    <p>Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @if(Model != null && Model.Count() >= 4)
            {
                @foreach (var item in Model.Take(4))
                {
                    <div class="col-lg-6 col-md-6">
                        <div class="single_place">
                            <img src="@item.location.ImageUrl" alt="">
                            <div class="hover_Text d-flex align-items-end justify-content-between">
                                <div class="hover_text_iner">
                                    <h3>@item.location.LocationName</h3>
                                    <p>@item.ArivalAirport, @item.ArivalAirport</p>
                                                                  
                                        <div class="place_review">
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <span>(210 review)</span>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <a class="btn_1 text-cnter" asp-area="" asp-controller="Flight" asp-action="Index">Discover more</a>
        </div>
    </div>
</section>
<!--top place end-->