@model IEnumerable<TravelGuide.Entiteis.Models.Flight>
@{
    ViewData["Title"] = "FlightsList";
    Layout = "_templateLayout";

}
<body>
    <section class="top_place section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section_tittle text-center">
                        <h2>Flights</h2>
                        <p>Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.</p>
                        @{
                            if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @* Will be displayed for the admin only *@
                                <div class="m-auto text-center">
                                    <a asp-action="Create" asp-controller="Flight"
                                       style="display: inline-block; padding: 10px 25px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 10px; ">
                                        Create New Flight
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <label class="control-label">Search By Arival Airport or Airline Name or Location Name or Country</label>

                <input type="text" id="livesearchtags" class="form-control" placeholder="Search in Flights" value="@ViewBag.searchaj" autocomplete="off" />

            </div>

            <div class="row justify-content-around" id="FlightsCards">
                <partial name="_FlightsCards" model="Model" />
            </div>
        </div>
    </section>

</body>
@section scripts {
    <script>
        $('#livesearchtags').on('keyup', function () {
            LiveSearch();
        })

        function LiveSearch() {
            let value = $('#livesearchtags').val();
            $.ajax({
                type:"Get",
                url: '@Url.Action("Search", "Flight")',
                data: { search: value },
                datatype:"html",
                success: function (data) {
                    $('#FlightsCards').html(data);
                }
            })
        }
    </script>
}