@model TravelGuide.Entiteis.Models.Room

@{
    ViewData["Title"] = "NewRoom";
    Layout = "_templateLayout";

}

<div class="row">
    <div class="col-12">
        <h2 class="contact-title text-center m-5 text-italic">Add Room</h2>
    </div>
    <div class="col-lg-8 m-auto">
        <form class="form-contact contact_form" asp-action="Create" enctype="multipart/form-data" id="contactForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="hotelId" class="control-label"></label>
                        <input asp-for="hotelId" class="form-control" />
                        <span asp-validation-for="hotelId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="RoomNumber" class="control-label"></label>
                        <input asp-for="RoomNumber" class="form-control" />
                        <span asp-validation-for="RoomNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="RoomType" class="control-label"></label>
                        <input asp-for="RoomType" class="form-control" />
                        <span asp-validation-for="RoomType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Capacity" class="control-label"></label>
                        <input asp-for="Capacity" class="form-control" />
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="PricePerNight" class="control-label"></label>
                        <input asp-for="PricePerNight" class="form-control" />
                        <span asp-validation-for="PricePerNight" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Availability" /> @Html.DisplayNameFor(model => model.Availability)
                    </label>
                </div>
            </div>
            <div class="form-group mb-3 text-right">
                <button type="submit" value="Create" style="display: inline-block; padding: 10px 15px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 5px; ">Add</button>
                <button type="button" onclick="window.location.href='@Url.Action("Index", "Rooms")'" style="display: inline-block; padding: 10px 15px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 5px; ">Cancel</button>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
