@model IEnumerable<TravelGuide.Entiteis.Models.TravelPackage>

@{
    ViewData["Title"] = "TravelPackageList";
    Layout = "_templateLayout";
}

<body>
    <section class="top_place section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section_tittle text-center">
                        <h2>Travel Packages</h2>
                        <p>Discover amazing travel packages to incredible destinations.</p>
                        @{
                            if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @* Display for admin users only *@
                                <div class="m-auto text-center">
                                    <a asp-action="Create" asp-controller="TravelPackages"
                                       style="display: inline-block; padding: 10px 25px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 10px;">
                                        Create New Travel Package
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <label class="control-label">Search By Package Name or Destination Location Name or Country Name</label>

                <input type="text" id="livesearchtags" class="form-control" placeholder="Search in Hotels" value="@ViewBag.searchaj" autocomplete="off" />

            </div>
            <div class="row justify-content-around" id="TravelPackageCards">
                <partial name="_TravelPackageCards" model="Model" />
            </div>
        </div>
    </section>
</body>
@section scripts {
    <script>
        $('#livesearchtags').on('keyup', function () {
            LiveSearch();
        })

        function LiveSearch() {
            let value = $('#livesearchtags').val();
            $.ajax({
                type:"Get",
                url: '@Url.Action("Search", "TravelPackages")',
                data: { search: value },
                datatype:"html",
                success: function (data) {
                    $('#TravelPackageCards').html(data);
                }
            })
        }
    </script>
}